{% for product in collections.frontpage.products limit:4 %}
<!-- <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>

  </div> -->

<div id="home" class="flex">
    <div class="left">

        {% for variant in product.variants %}
        <div class="product-image" data-id="{{variant.id}}" style="background: url('{{ variant.image.src | img_url: 'master' }}') center center no-repeat; background-size: cover; height: 100vh; width: 50vw;">
        </div>
        {% endfor %}

        <!-- {% for image in product.images %}
            <div class="product-image" style="background: url('{{ image.src | img_url: 'master' }}') center center no-repeat; background-size: cover; height: 100vh; width: 50vw;">
            </div>
      {% endfor %} -->

    </div>

    <div class="right">
        <div class="wrapper">
            <div class="header">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="btf info">
                <div class="info-left">
                    <div class="subheader">
                        <h2>{{ 'index.index_subhead' | t }}</h2>
                    </div>
                    <div class="list">
                        <div class="item">
                            {{ 'index.list_items.item_1' | t }}
                        </div>
                        <div class="item">
                            {{ 'index.list_items.item_2' | t }}
                        </div>
                    </div>
                </div>
                <div class="info-right">
                    <div class="info-text">
                        <p>
                            <b>{{ 'index.description_subhead' | t }}</b>
                        </p>
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                    <div class="info-drop">
                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                            <label for="productSelect">{{ product.options.first }}</label>
                            <select name="id" id="productSelect">
                          {% for variant in product.variants %}
                            {% if variant.available %}
                              <option value="{{ variant.id }}">
                                {{ variant.title }}
                              </option>
                            {% else %}
                              <option disabled="disabled">
                                {{ variant.title }} - sold out
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select> {{ current_variant.price | money }}
                            <button type="submit" name="add" id="AddToCart">{{ 'index.form.submit' | t }}<span>{{ product.price | money_without_trailing_zeros }}</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if product.variants.size > 1 %}

<script>
    (function($) {

    var variantImages = {},

        thumbnails,

        variant,

        variantImage,

        optionValue;

    { %
        for variant in product.variants %
    }

    variant = {
        {
            variant | json
        }
    };

    if (typeof variant.featured_image !== 'undefined' && variant.featured_image !== null) {
        console.log(variant.id)
    }

    { % endfor %
    }

    $(function() {

        $("#productSelect").change(function() {
            alert("Handler for .change() called.");
        });


    });

    });

    })(jQuery);
</script>

{% endif %} {% endfor %}